@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&family=Varela+Round&display=swap');

body {
    background-color: #b84ef5;
}

h1, p {
    text-align: center;
    color: #fff;
}

h1, .item {
    font-family: Ubuntu, Arial, Helvetica, sans-serif;
}

p {
    font-family: "Varela Round", Arial, Helvetica, sans-serif;
}

.container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 5px;
}

.item {
    background-color: #fff;
    color: #000;
    border: 3px solid black;
    border-radius: 13px;
}

.day {
 display: flex;
 color: #fff;
 background-color: #585353;
 border-bottom: 2px solid black;
 border-radius: 10px 10px 0 0;
 justify-content: center;
 padding: 3px;
}

ul {
    padding-left: 30px;
}