body {
    background-color: #b84ef5;
}

h1 {
    text-align: center;
    color: #fff;
}

p {
    color: #fff;
}

.container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 5px;
}

.item {
    background-color: #fff;
    color: #000;
    border: 2px solid black;
    border-radius: 10px;
}

.day {
 background-color: #fff;
 display: flex;
 border-bottom: 2px solid black;
 border-radius: 10px 10px 0 0;
 justify-content: center;
}

ul {
    padding-left: 30px;
}